# Download archive files from ESIOS API

## Instantiate the client

In [1]:
from esios.endpoints import Archives
client = Archives()

## Get the list of archives

In [2]:

df = client.list(as_dataframe=True)
df

,name,id,horizon,archive_type,download,date,date_times,publication_date,taxonomy_terms,vocabularies
0,REE_BalancingEnerBids,181,QM,csv,"{'name': 'REE_BalancingEnerBids', 'url': '/arc...",{'date': '2024-05-15T23:59:59.000+02:00'},[],[2024-05-15],"[{'id_taxonomy_term': 156, 'name': 'Mercados y...","[{'id_vocabulary': 20, 'name': 'Universo'}, {'..."
1,Resultado_Subasta_Mensual_POR,159,M,xls,"{'name': 'Resultado_Subasta_Mensual_POR', 'url...",{'date': '2024-05-15T23:59:59.000+02:00'},"[2024-05-01, 2024-05-31]",[2024-04-24],"[{'id_taxonomy_term': 156, 'name': 'Mercados y...","[{'id_vocabulary': 20, 'name': 'Universo'}, {'..."
...,...,...,...,...,...,...,...,...,...,...
24,totalp48,29,H,xml,"{'name': 'totalp48', 'url': '/archives/29/down...",{'date': '2024-05-15T23:59:59.000+02:00'},[2024-05-15],[2024-05-15],"[{'id_taxonomy_term': 155, 'name': 'Generación...","[{'id_vocabulary': 20, 'name': 'Universo'}, {'..."
25,totalrp48prec,27,H,xml,"{'name': 'totalrp48prec', 'url': '/archives/27...",{'date': '2024-05-15T23:59:59.000+02:00'},[2024-05-15],[2024-05-15],"[{'id_taxonomy_term': 156, 'name': 'Mercados y...","[{'id_vocabulary': 20, 'name': 'Universo'}, {'..."

## Get a specific archive data

### Generate the url to download the archive

In [3]:
start_date='2023-09-01'
end_date='2024-01-01'

data = client.get(archive_id=8, start_date='2023-09-01', end_date='2024-01-01')
data.get_metadata()

{'archive': {'name': 'C2_liquicomun',
  'description': 'Cierre de liquidación C2',
  'updated_at': '2015-01-14 14:25:27.0',
  'id': 8,
  'horizon': 'M',
  'archive_type': 'zip',
  'download': {'name': 'C2_liquicomun',
   'url': '/archives/8/download?date_type=datos&end_date=2024-01-01T00%3A00%3A00%2B00%3A00&locale=es&start_date=2023-09-01T00%3A00%3A00%2B00%3A00'},
  'date': {'date_type': 'datos',
   'start_date': '2023-09-01 00:00:00.000+0200',
   'end_date': '2024-01-01 00:00:00.000+0100'},
  'date_times': ['2023-09-01', '2024-01-31'],
  'publication_date': ['2023-10-10', '2024-02-09'],
  'taxonomy_terms': [{'id_taxonomy_term': 156,
    'name': 'Mercados y precios',
    'vocabulary_id': 20},
   {'id_taxonomy_term': 165, 'name': 'Descargas', 'vocabulary_id': 21},
   {'id_taxonomy_term': 172, 'name': 'Liquidaciones', 'vocabulary_id': 22}],
  'vocabularies': [{'id_vocabulary': 20, 'name': 'Universo'},
   {'id_vocabulary': 21, 'name': 'Temática'},
   {'id_vocabulary': 22, 'name': 'Área'}]}}

### Download and extract the zip file

In [4]:
data.download_and_extract(output_dir='./data')

## Preprocess and load data

In [6]:
path_home = 'data/C2_liquicomun/C2_liquicomun_202309'

In [8]:
from esios.endpoints.archives import preprocessing

df = preprocessing.c2_liquicomun(path_home, 'compodem')
df

             1     2      3          4          5          6   7
0
16/09/2023   1  AJOM    CUR       0.00   1811.827   0.000000 NaN
16/09/2023   1  AJOM  NOCUR       0.00  21206.878   0.000000 NaN
...         ..   ...    ...        ...        ...        ...  ..
30/09/2023  24   RT6  NOCUR  371848.35  20021.397  18.572548 NaN
30/09/2023  24   RT6  TOTAL  411057.64  22132.539  18.572548 NaN

[24211 rows x 7 columns]