# Search Indicators

Browse and search the full catalog of ESIOS indicators.

In [1]:
from esios import ESIOSClient

client = ESIOSClient()

## Full catalog

`client.indicators.list()` returns the complete indicator catalog as a DataFrame.

In [2]:
df = client.indicators.list()
print(f"Total indicators: {len(df)}")
df.head(10)

Total indicators: 2037

,name,short_name
id,,
1,Generación programada PBF Hidráulica UGH,Hidráulica UGH
2,Generación programada PBF Hidráulica no UGH,Hidráulica no UGH
3,Generación programada PBF Turbinación bombeo,Turbinación bombeo
4,Generación programada PBF Nuclear,Nuclear
5,Generación programada PBF Hulla antracita Anex...,Hulla antracita RD 134/2010
6,Generación programada PBF Hulla sub-bituminosa...,Hulla sub-bituminosa RD 134/2010
7,Generación programada PBF Hulla antracita,Hulla antracita
8,Generación programada PBF Hulla sub-bituminosa,Hulla sub-bituminosa
9,Generación programada PBF Ciclo combinado,Ciclo combinado
10,Generación programada PBF Fuel,Fuel

## Search by name

Use `search()` for case-insensitive substring matching:

In [3]:
client.indicators.search("precio")

,name,short_name
id,,
573,Precio medio de la demanda en los SNP por sistema,Precio medio demanda sistema
574,Precio medio de la generación en los SNP por s...,Precio medio generación sistema
578,Precio Mallorca-Menorca con enlace,Con enlace cc
579,Precio Mallorca-Menorca sin enlace,Sin enlace cc
600,Precio mercado SPOT Diario,Mercado SPOT
...,...,...
10412,Precio medio ponderado de activación del servi...,Precio medio ponderado de activación del servi...
10463,Precio medio ponderado reserva de regulación s...,Banda de regulación secundaria a bajar
10523,Precio medio cuarto horario componente importe...,Precio medio cuarto horario componente importe...
10524,Precio medio cuarto horario componente importe...,Precio medio qh servicios comercializadores de...
10525,Precio medio cuarto horario componente importe...,Precio medio cuarto horario componente importe...

In [4]:
client.indicators.search("demanda")

,name,short_name
id,,
351,Demanda programada PBF Comercializadores merca...,Comercializadores mercado libre
352,Demanda programada PBF Comercializadores de re...,Comercializadores de referencia
353,Demanda programada PBF Consumos directos en me...,Consumos directos en mercado
354,Demanda programada PBF Consumo de Servicios Au...,Consumo de Servicios Auxiliares
355,Demanda programada PBF Corrección eólica,Corrección eólica
...,...,...
10268,Demanda medida tarifa de acceso total,Demanda medida tarifa de acceso
10269,Demanda medida nivel de tensión total,Demanda medida nivel de tensión
10279,Demanda programada PHFC total,Demanda Peninsular
10350,Demanda real suma de generación SNP,Demanda real SNP
10412,Precio medio ponderado de activación del servi...,Precio medio ponderado de activación del servi...

## Inspect a specific indicator

`get()` returns a handle with metadata and the `.historical()` method:

In [5]:
handle = client.indicators.get(600)
print(f"ID:   {handle.id}")
print(f"Name: {handle.name}")

ID:   600
Name: Precio mercado SPOT Diario

### Available geographies

In [6]:
handle.geos_dataframe()

   geo_id      geo_name
0       1      Portugal
1       2       Francia
2       3        España
3    8826      Alemania
4    8827       Bélgica
5    8828  Países Bajos