# Historical Data

Fetch time-series data for any indicator. Results are cached locally
as parquet files — subsequent requests only fetch missing date ranges.

In [1]:
from esios import ESIOSClient

client = ESIOSClient()

## Basic query

Fetch spot price (indicator 600) for January 2025:

In [2]:
handle = client.indicators.get(600)
df = handle.historical("2025-01-01", "2025-01-31")
df

,Portugal,Francia,España,Alemania,Bélgica,Países Bajos
datetime,,,,,,
2025-01-01 00:00:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:15:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:30:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:45:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 01:00:00+01:00,131.59,18.92,131.59,1.60,10.27,6.24
...,...,...,...,...,...,...
2025-01-31 22:45:00+01:00,145.02,145.02,145.02,144.31,NaN,144.41
2025-01-31 23:00:00+01:00,131.29,131.29,131.29,131.41,NaN,131.40
2025-01-31 23:15:00+01:00,131.29,131.29,131.29,131.41,NaN,131.40
2025-01-31 23:30:00+01:00,131.29,131.29,131.29,131.41,NaN,131.40
2025-01-31 23:45:00+01:00,131.29,131.29,131.29,131.41,NaN,131.40

Columns are named by geography (e.g. "España", "Portugal", "Francia").
The index is a timezone-aware `DatetimeIndex`.

## Filter by geography

Use `geo_ids` to request only specific countries. Find geo IDs with
`handle.geos_dataframe()` or use `resolve_geo()` for name lookups:

In [3]:
spain_id = handle.resolve_geo("España")
print(f"España geo_id: {spain_id}")

España geo_id: 3

In [4]:
df_spain = handle.historical("2025-01-01", "2025-01-07", geo_ids=[spain_id])
df_spain

                           España
datetime
2025-01-01 00:00:00+01:00  134.49
2025-01-01 00:15:00+01:00  134.49
2025-01-01 00:30:00+01:00  134.49
2025-01-01 00:45:00+01:00  134.49
2025-01-01 01:00:00+01:00  131.59
...                           ...
2025-01-07 22:45:00+01:00   98.53
2025-01-07 23:00:00+01:00   89.27
2025-01-07 23:15:00+01:00   89.27
2025-01-07 23:30:00+01:00   89.27
2025-01-07 23:45:00+01:00   89.27

[672 rows x 1 columns]

## Aggregation options

The API supports time and geography aggregation:

In [5]:
# Daily average price
df_daily = handle.historical(
    "2025-01-01", "2025-01-31",
    time_trunc="day",
)
df_daily.head()

,Portugal,Francia,España,Alemania,Bélgica,Países Bajos
datetime,,,,,,
2025-01-01 00:00:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:15:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:30:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 00:45:00+01:00,134.49,12.36,134.49,2.16,10.62,13.62
2025-01-01 01:00:00+01:00,131.59,18.92,131.59,1.60,10.27,6.24

## Export to CSV

In [6]:
df.to_csv("spot_prices_2025_01.csv")