In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
path = '/Users/sota/Library/CloudStorage/Dropbox-datons/News/1 Projects/SMP/arp-project/data/raw/I90DIA/I90DIA_20240921/I90DIA_20240921.xls'

In [3]:
from esios.archives import preprocessing

In [4]:
df = preprocessing.process_excel_file(path, sheet_name='I90DIA30')
df

,Redespacho,Tipo Redespacho,Sentido,Tipo QH,datetime,value
3,Terciaria,TERPRO,Bajar,,2024-09-21 00:45:00+02:00,70.00
7,Terciaria,TERPRO,Bajar,,2024-09-21 01:00:00+02:00,92.51
...,...,...,...,...,...,...
291,Terciaria,TERPRO,Bajar,,2024-09-21 23:30:00+02:00,74.00
295,Terciaria,TERPRO,Bajar,,2024-09-21 23:45:00+02:00,70.20

In [5]:
df = preprocessing.process_excel_file(path, sheet_name='I90DIA07')
df

,Redespacho,Sentido,Unidad de Programación,Tipo Oferta,datetime,value
0,TERDIR,Subir,DUER,1.0,2024-09-21 00:00:00+02:00,0.0
1,TERDIR,Subir,ESC6,1.0,2024-09-21 00:00:00+02:00,0.0
...,...,...,...,...,...,...
13726,TERPRO,Bajar,UPBON4,10.0,2024-09-21 23:45:00+02:00,0.0
13727,TERPRO,Bajar,VIES,1.0,2024-09-21 23:45:00+02:00,0.0

In [74]:
df

,Redespacho,Sentido,Unidad de Programación,Tipo Oferta,datetime,value
0,TERDIR,Subir,DUER,1.0,2024-09-21 00:00:00+02:00,0.0
1,TERDIR,Subir,ESC6,1.0,2024-09-21 00:00:00+02:00,0.0
...,...,...,...,...,...,...
13726,TERPRO,Bajar,UPBON4,10.0,2024-09-21 23:45:00+02:00,0.0
13727,TERPRO,Bajar,VIES,1.0,2024-09-21 23:45:00+02:00,0.0

In [72]:
df

,Redespacho,Sentido,Unidad de Programación,Tipo Oferta,datetime,value
0,TERDIR,Subir,DUER,1.0,2024-09-21 00:00:00+02:00,0.0
1,TERDIR,Subir,ESC6,1.0,2024-09-21 00:00:00+02:00,0.0
...,...,...,...,...,...,...
13726,TERPRO,Bajar,UPBON4,10.0,2024-09-21 23:45:00+02:00,0.0
13727,TERPRO,Bajar,VIES,1.0,2024-09-21 23:45:00+02:00,0.0

In [65]:
df.head(100).style

In [33]:
columns = df.columns.astype(int)

In [40]:
datetime_values = [date + timedelta(minutes=15 * i) for i in index_values]

Index([ 4,  5,  6,  7,  8,  9, 10, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26, 28, 30, 31, 32, 33, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 93, 94,
       95, 96],
      dtype='int64')

In [22]:
row_columns

[4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 13.0,
 14.0,
 15.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 28.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 40.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 93.0,
 94.0,
 95.0,
 96.0]

In [14]:
row

['Redespacho',
 'Tipo Redespacho',
 'Sentido',
 'Tipo QH',
 'Indicadores',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh',
 'Precio Marginal Cuartohorario €/MWh']

In [15]:
j

4

In [16]:
rows

[['',
  '',
  '',
  '',
  'Dia',
  datetime.date(2024, 9, 21),
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  '',
  '',
  '',
  'Cuarto de Hora del dia',
  'Total',
  4.0,
  5.0,
  6.0,
  7.0,
  8.0,
  9.0,
  10.0,
  13.0,
  14.0,
  15.0,
  17.0,
  18.0,
  19.0,
  20.0,
  21.0,
  22.0,
  23.0,
  24.0,
  25.0,
  26.0,
  28.0,
  30.0,
  31.0,
  32.0,
  33.0,
  34.0,
  35.0,
  36.0,
  40.0,
  42.0,
  43.0,
  44.0,
  45.0,
  46.0,
  47.0,
  48.0,
  49.0,
  50.0,
  51.0,
  53.0,
  54.0,
  55.0,
  56.0,
  57.0,
  58.0,
  59.0,
  60.0,
  61.0,
  62.0,
  63.0,
  64.0,
  69.0,
  70.0,
  71.0,
  72.0,
  73.0,
  74.0,
  75.0,
  76.0,
  77.0,
  78.0,
  79.0,
  81.0,
  82.0,
  83.0,
  84.0,
  85.0,
  86.0,
  87.0,
  88.0,
  93.0,
  94.0,
  95.0,
  96.0],
 ['Redespacho',
  'Tipo Redespacho',
  'Sentido',
  'Tipo QH',
  'Indicadores',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh',
  'Precio Marginal Cuartohorario €/MWh'],
 ['Terciaria',
  'TERDIR',
  'Subir',
  'QH0',
  '',
  109.76,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  109.76,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['Terciaria',
  'TERDIR',
  'Subir',
  'QH1',
  '',
  109.76,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  109.76,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['Terciaria',
  'TERPRO',
  'Subir',
  ' ',
  '',
  99.2689189189,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  105.57,
  102.83,
  97.56,
  75.05,
  95.08,
  96.7,
  95.29,
  107.13,
  107.13,
  103.29,
  109.13,
  '',
  '',
  84.14,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  90.25,
  '',
  '',
  107.07,
  107.07,
  105.11,
  109.76,
  107.13,
  107.13,
  100.0,
  100.0,
  '',
  95.3,
  100.97,
  104.61,
  104.61,
  103.19,
  95.11,
  95.3,
  99.89,
  100.97,
  95.3,
  69.77,
  100.97,
  103.19,
  94.9,
  '',
  '',
  94.77,
  101.68,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['Terciaria',
  'TERPRO',
  'Bajar',
  ' ',
  '',
  70.2810810811,
  70.0,
  92.51,
  72.0,
  60.0,
  53.9,
  74.0,
  74.0,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  70.01,
  72.0,
  '',
  74.0,
  75.09,
  74.0,
  64.0,
  70.0,
  72.0,
  72.0,
  79.49,
  '',
  17.41,
  70.0,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  50.24,
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  49.05,
  41.37,
  '',
  '',
  79.49,
  70.0,
  75.09,
  60.0,
  75.09,
  117.31,
  85.02,
  75.02,
  74.0,
  75.02,
  74.0,
  74.0,
  75.09,
  74.0,
  70.2]]

In [3]:
s = [f'I90DIA{i:02d}' for i in range(1, 37)]

In [4]:
import yaml
with open('sheets.yml', 'r') as f:
    sheets = yaml.safe_load(f)

In [5]:
dfs = []
for sheet, properties in sheets.items():
    try:
        df = preprocessing.process_excel_file(path, sheet_name=sheet)
        df['step'] = sheet
        df = df.assign(**properties)
        dfs.append(df)
    except Exception as e:
        print(e)
        continue

cannot access local variable 'j' where it is not associated with a value
cannot access local variable 'j' where it is not associated with a value
cannot access local variable 'j' where it is not associated with a value

In [6]:
import pandas as pd

df = pd.concat(dfs)
df.head().style

In [7]:
import pandas as pd

In [8]:
mapping = {
    'Unidad de Programación': 'unit',
    'Tipo Oferta': 'offer',
    'Redespacho': 'redispatch',
    'sentido': 'sign',
    'Nm Oferta asignada': 'offer_id',
    'Tipo cálculo': 'calculation',
    'Tipo Restricción': 'restriction',
    'datetime': 'datetime',
    'value': 'value',
    'step': 'step',
    'program': 'program',
    'magnitude': 'magnitude',
    'description': 'description',
    'sheet': 'sheet',
    'Sesión': 'session',
    'Tipo': 'type',
    'Signo de Energía': 'energy_sign',
    'Bloque': 'block',
    'Nº Oferta': 'offer_number',
    'Divisibilidad': 'divisibility',
    'Precedencia': 'precedence',
    'Tipo Transacción': 'transaction_type',
    'Nº contrato': 'contract_number',
    'Mercado': 'market',
    'Modo': 'mode',
    'Tipo Redespacho': 'redispatch_type',
    'Tipo QH': 'qh_type',
    'Oferta Compleja': 'complex_offer',
    'Sentido': 'sign',
}

In [9]:
df = df.rename(columns=mapping)
df.head().style

In [10]:
mask = df.offer.isin([1,2,10])
df = df[mask].copy()

In [11]:
df_base = df.copy()

In [12]:
df = df_base.copy()

In [13]:
df = (df.
 pivot_table(
     index='unit',
     columns='step',
     values='value',
     aggfunc='sum'
 )
)

In [14]:
unit = 'PEVER'

In [15]:
df = df_base.query('unit == @unit')

In [16]:
df

,unit,offer,datetime,value,step,program,magnitude,description,description_es,redispatch,...,offer_number,divisibility,precedence,transaction_type,contract_number,market,mode,redispatch_type,qh_type,complex_offer
1563,PEVER,10.0,2024-09-22 00:00:00+02:00,21.0,I90DIA01,PVP,MWh,Hourly programming results for PVP,Resultado de la Programación Horaria del PVP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3713,PEVER,10.0,2024-09-22 01:00:00+02:00,20.0,I90DIA01,PVP,MWh,Hourly programming results for PVP,Resultado de la Programación Horaria del PVP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49334,PEVER,10.0,2024-09-22 22:00:00+02:00,212.1,I90DIA36,PHFC,MWh,Hourly programming results for PHFC,Resultado de la Programación Horaria del PHFC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51505,PEVER,10.0,2024-09-22 23:00:00+02:00,24.8,I90DIA36,PHFC,MWh,Hourly programming results for PHFC,Resultado de la Programación Horaria del PHFC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.offer.value_counts()

offer
10.0    1690
Name: count, dtype: int64

In [18]:
items = [
    "PVP",
    "ResMD",
    'SecM',
    "RR", # regulacion bandas
    "PHF1",
    "PHF2",
    "PHF3",
    "PHFC",
    "PBF",
    "P48",
    "ResRT" # restricciones tiempo real
]

In [23]:
df.magnitude.value_counts()

magnitude
€/MWh    946
MWh      744
Name: count, dtype: int64

In [40]:
df.head().style

In [47]:
df.groupby([
    'datetime',
    'magnitude',
    'program',
    'step',
    'offer'
]).size().unstack('step').style.format('{:.0f}').highlight_null(props='color: transparent; background-color: transparent;')

In [33]:
dfp = df.pivot_table(index='datetime', columns=['magnitude', 'program', 'step'], values='value')
dfp

AssertionError: Cannot concat indices that do not have the same number of levels

In [27]:
dfp.style

In [40]:
dfp.style

In [37]:
df.head().style

In [35]:
dfp = df.pivot(index='datetime', columns=['magnitude', 'program', 'step', 'offer'], values='value')

ValueError: Index contains duplicate entries, cannot reshape

In [30]:
dfp.style

In [20]:
dfp

magnitude                   MWh                                           \
program                     P48    PBF  PHF1  PHF2 PHF3  PHFC   PVP   RR
datetime
2024-09-22 00:00:00+02:00  6.15  212.1  24.6  24.6  0.0  24.6  21.0  0.0
2024-09-22 00:15:00+02:00  6.15    NaN   NaN   NaN  NaN   NaN   NaN  0.0
...                         ...    ...   ...   ...  ...   ...   ...  ...
2024-09-23 23:45:00+02:00   NaN    NaN   NaN   NaN  NaN   NaN   NaN  NaN
2024-09-24 00:00:00+02:00   NaN    NaN   NaN   NaN  NaN   NaN   NaN  NaN

magnitude                              €/MWh
program                    ResMD          RR      ResMD     SimpOff TercM
datetime
2024-09-22 00:00:00+02:00 -191.1  184.950919  97.628195  440.265211   7.0
2024-09-22 00:15:00+02:00 -192.1    0.000000  93.229401 -212.100000   0.0
...                          ...         ...        ...         ...   ...
2024-09-23 23:45:00+02:00    NaN    0.000000        NaN         NaN   0.0
2024-09-24 00:00:00+02:00    NaN    0.000000        NaN         NaN   0.0

[193 rows x 13 columns]

In [21]:
dfpe = dfp['MWh']
dfpe

program,P48,PBF,PHF1,PHF2,PHF3,PHFC,PVP,RR,ResMD
datetime,,,,,,,,,
2024-09-22 00:00:00+02:00,6.15,212.1,24.6,24.6,0.0,24.6,21.0,0.0,-191.1
2024-09-22 00:15:00+02:00,6.15,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-192.1
...,...,...,...,...,...,...,...,...,...
2024-09-23 23:45:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-24 00:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
212.1 - 24.6

187.5

In [23]:
dfpe.filter(items).style.format('{:.0f}')

In [38]:
dfpe.filter(items)

                            PVP  ResMD   RR  PHF1  PHF2  PHF3  PHFC    PBF
datetime
2024-09-22 00:00:00+02:00  21.0 -191.1  0.0  24.6  24.6   0.0  24.6  212.1
2024-09-22 00:15:00+02:00   NaN -192.1  0.0   NaN   NaN   NaN   NaN    NaN
...                         ...    ...  ...   ...   ...   ...   ...    ...
2024-09-23 23:45:00+02:00   NaN    NaN  NaN   NaN   NaN   NaN   NaN    NaN
2024-09-24 00:00:00+02:00   NaN    NaN  NaN   NaN   NaN   NaN   NaN    NaN

[193 rows x 8 columns]

In [27]:
dfp.columns.reorder_levels

MultiIndex([(  'MWh',     'P48'),
            (  'MWh',     'PBF'),
            (  'MWh',    'PHF1'),
            (  'MWh',    'PHF2'),
            (  'MWh',    'PHF3'),
            (  'MWh',    'PHFC'),
            (  'MWh',     'PVP'),
            (  'MWh',      'RR'),
            (  'MWh',   'ResMD'),
            ('€/MWh',      'RR'),
            ('€/MWh',   'ResMD'),
            ('€/MWh', 'SimpOff'),
            ('€/MWh',   'TercM')],
           names=['magnitude', 'program'])

In [47]:
dfp['MWh'] = dfp.loc[:, 'MWh'][items]

In [46]:
dfp

magnitude                 MWh                                        \
program                   P48 PBF PHF1 PHF2 PHF3 PHFC PVP  RR ResMD
datetime
2024-09-22 00:00:00+02:00 NaN NaN  NaN  NaN  NaN  NaN NaN NaN   NaN
2024-09-22 00:15:00+02:00 NaN NaN  NaN  NaN  NaN  NaN NaN NaN   NaN
...                        ..  ..  ...  ...  ...  ...  ..  ..   ...
2024-09-23 23:45:00+02:00 NaN NaN  NaN  NaN  NaN  NaN NaN NaN   NaN
2024-09-24 00:00:00+02:00 NaN NaN  NaN  NaN  NaN  NaN NaN NaN   NaN

magnitude                       €/MWh
program                            RR      ResMD     SimpOff TercM
datetime
2024-09-22 00:00:00+02:00  184.950919  97.628195  440.265211   7.0
2024-09-22 00:15:00+02:00    0.000000  93.229401 -212.100000   0.0
...                               ...        ...         ...   ...
2024-09-23 23:45:00+02:00    0.000000        NaN         NaN   0.0
2024-09-24 00:00:00+02:00    0.000000        NaN         NaN   0.0

[193 rows x 13 columns]

In [21]:
import plotly.express as px

fig = px.bar(
    data_frame=df,
    x='datetime',
    y='value',
    color='step',
    hover_data=['program', 'magnitude', 'description_es'],
    facet_row='magnitude'
)

fig.update_yaxes(matches=None)

In [53]:
df = df[sheets.keys()].fillna(0)
df

KeyError: "['I90DIA00', 'I90DIA04', 'I90DIA11', 'I90DIA12', 'I90DIA16', 'I90DIA22', 'I90DIA23', 'I90DIA24', 'I90DIA25', 'I90DIA28', 'I90DIA29', 'I90DIA30', 'I90DIA31', 'I90DIA32', 'I90DIA34', 'I90DIA35'] not in index"

In [14]:
df_cumsum = df.cumsum(axis=1)

In [15]:
df_cumsum

step      PVP   P48    RT
unit
A2GAME2   9.6  14.4  14.4
ABA1      5.4   7.8   3.6
...       ...   ...   ...
ZERBI     7.2  14.4  14.4
ZJARVE   22.5  42.1  42.1

[1671 rows x 3 columns]

In [16]:
dfs = {
    'raw': df,
    'cum': df_cumsum,
    'total': df.sum(axis=1)
}

In [17]:
df = pd.concat(dfs, axis=1).sort_values(('raw', 'RT'))
df

           raw                       cum                            total
           PVP       P48      RT     PVP        P48         RT          0
unit
PEVER    948.8   596.300 -4141.6   948.8   1545.100  -2596.500  -2596.500
EOTMR    567.8   117.100 -1534.6   567.8    684.900   -849.700   -849.700
...        ...       ...     ...     ...        ...        ...        ...
BAHIAB  4152.0  6178.675  4032.0  4152.0  10330.675  14362.675  14362.675
ABO2    7694.8  7695.200  7028.0  7694.8  15390.000  22418.000  22418.000

[1671 rows x 7 columns]

In [19]:
df = df.head(10)

In [20]:
df_base

,step,nrow,unit,offer,datetime,value,redispatch,Sentido,offer_id,calculation,restriction
0,PVP,0,A2GAME2,10.0,2024-09-22 00:00:00+02:00,0.4,NaN,NaN,NaN,NaN,NaN
1,PVP,1,ABA1,1.0,2024-09-22 00:00:00+02:00,0.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
266038,RT,5446,TEES,1.0,2024-09-22 05:45:00+02:00,NaN,ECOCB,Bajar,26723586.0,No aplica,N/A
266039,RT,5447,TERE,1.0,2024-09-22 05:45:00+02:00,NaN,ECOCB,Bajar,26723587.0,No aplica,N/A

In [21]:
import plotly.express as px

In [22]:
unit = 'PEVER'

In [23]:
df = df_base.query('unit == @unit')
df

,step,nrow,unit,offer,datetime,value,redispatch,Sentido,offer_id,calculation,restriction
1563,PVP,1563,PEVER,10.0,2024-09-22 00:00:00+02:00,21.0,NaN,NaN,NaN,NaN,NaN
3713,PVP,3713,PEVER,10.0,2024-09-22 01:00:00+02:00,20.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
265745,RT,5153,PEVER,10.0,2024-09-22 05:30:00+02:00,-180.7,ECO,Bajar,32643054.0,No aplica,N/A
265972,RT,5380,PEVER,10.0,2024-09-22 05:45:00+02:00,-185.2,ECO,Bajar,32643054.0,No aplica,N/A

In [24]:
px.bar(
    data_frame=df,
    x='datetime',
    y='value',
    color='step'
)

In [29]:
df_base.sort_values('value')

,step,nrow,unit,offer,datetime,value,redispatch,Sentido,offer_id,calculation,restriction
260862,RT,270,AGUG,1.0,2024-09-22 00:15:00+02:00,-240.0,ECO,Bajar,32643088.0,No aplica,N/A
261997,RT,1405,AGUG,1.0,2024-09-22 01:30:00+02:00,-240.0,ECO,Bajar,32643088.0,No aplica,N/A
...,...,...,...,...,...,...,...,...,...,...,...
266038,RT,5446,TEES,1.0,2024-09-22 05:45:00+02:00,NaN,ECOCB,Bajar,26723586.0,No aplica,N/A
266039,RT,5447,TERE,1.0,2024-09-22 05:45:00+02:00,NaN,ECOCB,Bajar,26723587.0,No aplica,N/A

In [30]:
unit = 'AGUG'

In [31]:
df = df_base.query('unit == @unit')
df

,step,nrow,unit,offer,datetime,value,redispatch,Sentido,offer_id,calculation,restriction
24,PVP,24,AGUG,1.0,2024-09-22 00:00:00+02:00,81.9,NaN,NaN,NaN,NaN,NaN
2174,PVP,2174,AGUG,1.0,2024-09-22 01:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
265629,RT,5037,AGUG,1.0,2024-09-22 05:30:00+02:00,-60.0,ECO,Bajar,32643088.0,No aplica,N/A
265856,RT,5264,AGUG,1.0,2024-09-22 05:45:00+02:00,-60.0,ECO,Bajar,32643088.0,No aplica,N/A

In [32]:
px.bar(
    data_frame=df,
    x='datetime',
    y='value',
    color='step'
)

In [71]:
df.style

In [55]:
df.style