In [1]:
path = 'data/I90DIA/I90DIA_20240101/I90DIA_20240101.xls'

In [2]:
from esios.archives import preprocessing

df = preprocessing.process_excel_file(path, sheet_name='I90DIA03')
df

,Redespacho,Sentido,Unidad de Programación,Nm Oferta asignada,Tipo Oferta,Tipo cálculo,Tipo Restricción,datetime,value
0,UPOPVPV,Subir,ABO2,31127409.0,1.0,Complejo,RTD,2024-01-01 00:00:00+01:00,NaN
1,UPOPVPV,Subir,ACE4,31127451.0,1.0,Complejo,SOT,2024-01-01 00:00:00+01:00,116.6
...,...,...,...,...,...,...,...,...,...
4222,ECOBSO,Bajar,ERIO2,-1.0,10.0,No aplica,N/A,2024-01-01 23:00:00+01:00,-0.5
4223,ECOBSO,Bajar,ERIO2A,-1.0,10.0,No aplica,N/A,2024-01-01 23:00:00+01:00,-1.1