# OfferIndicators endpoint

## Instantiate the client

In [ ]:
from esios import ESIOSClient

client = ESIOSClient()
endpoint = client.endpoint(name='offer_indicators')

## List indicators ids

In [5]:
df = endpoint.list()
df

,name,description,id,date,values
0,Curvas de ofertas Banda de regulación secundar...,La regulación secundaria es un servicio comple...,601,null,[]
1,Curvas de ofertas Reserva de potencia adiciona...,La contratación y gestión de reserva de potenc...,629,null,[]
...,...,...,...,...,...
23,Curvas de ofertas subasta explícita anual PT-E...,Las subastas explícitas de capacidad son un me...,1672,null,[]
24,Curvas de ofertas subasta explícita anual PT-E...,Las subastas explícitas de capacidad son un me...,1673,null,[]

## Select indicator id

In [15]:
indicator = endpoint.select(670)
indicator

In [16]:
indicator.metadata

{'name': 'Curvas de ofertas: energías de balance RR subir',
 'short_name': 'Energías de balance RR',
 'id': 670,
 'values_updated_at': None,
 'values_count': 0}

## Get historical data from indicator

In [17]:
df = indicator.historical(start='2024-01-01', end='2024-01-31')
df

,orden,price,offer,assignation,offer_sum,assignation_sum
datetime,,,,,,
2024-01-01 00:00:00+01:00,1,57.00,5.0,1.3,5.0,1.3
2024-01-01 00:00:00+01:00,2,63.33,800.0,200.0,805.0,201.3
...,...,...,...,...,...,...
2024-01-31 00:00:00+01:00,68,177.00,8.0,0.0,6160.0,NaN
2024-01-31 00:00:00+01:00,69,200.00,4.0,0.0,6164.0,NaN