# Analyze

## Load files

- I90DIA27: Bilateral

In [1]:
from esios.archives import preprocessing

path = 'data/I90DIA/I90DIA_20240221.xls'
sheet_name = 'I90DIA03'

df_base = preprocessing.process_excel_file(path, sheet_name)
df_base

,Redespacho,Sentido,Unidad de Programación,Nm Oferta asignada,Tipo Oferta,Tipo cálculo,Tipo Restricción,datetime,value
0,UPOPVPV,Subir,ABO2,31445465,1,Complejo,RTD,2024-02-21 00:00:00+01:00,NaN
1,UPOPVPV,Subir,ACE4,31445583,1,Complejo,SOT,2024-02-21 00:00:00+01:00,116.6
...,...,...,...,...,...,...,...,...,...
4030,ECOBCBSO,Bajar,GDNA,25451783,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN
4031,ECOBCBSO,Bajar,TERE,25451786,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN

In [2]:
df_base

,Redespacho,Sentido,Unidad de Programación,Nm Oferta asignada,Tipo Oferta,Tipo cálculo,Tipo Restricción,datetime,value
0,UPOPVPV,Subir,ABO2,31445465,1,Complejo,RTD,2024-02-21 00:00:00+01:00,NaN
1,UPOPVPV,Subir,ACE4,31445583,1,Complejo,SOT,2024-02-21 00:00:00+01:00,116.6
...,...,...,...,...,...,...,...,...,...
4030,ECOBCBSO,Bajar,GDNA,25451783,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN
4031,ECOBCBSO,Bajar,TERE,25451786,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN

In [5]:
values = ['RTD', 'SOT'] # curtailment

df = df.query('')

['RTD', 'SOT']

### Unit specific involved in contracts

In [5]:
unit = "ENDE01"
contracts = df_base.query('unit == @unit').contract.unique()
contracts

array([1019, 1513, 1994, 2293, 2193, 2330])

In [6]:
mask = df_base.contract.isin(contracts)
df = df_base[mask]
df

       unit  offer_type  contract   hour  value            datetime   agent
12     ALZ1           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
16     ALZ2           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
...     ...         ...       ...    ...    ...                 ...     ...
12214  TERE           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller
12241  VAN2           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller

[696 rows x 7 columns]

In [7]:
df.groupby(['unit', 'agent']).value.sum().unstack('agent').sort_values('Buyer', ascending=False).fillna(0).style.format(precision=0)

## References

https://www.energychisquared.com/post/tipos-de-bilaterales-en-el-sistema-el%C3%A9ctrico/