# Analyze

## Load files

- I90DIA27: Bilateral

In [42]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
from esios.archives import preprocessing
from pathlib import Path

- 6A: Date of data
- 6C: Date of publication
- 10(rest of rows)AB: Table of contents

In [45]:
import pandas as pd

pd.set_option('future.no_silent_downcasting', True)

Possibilities of columns:
    
- columns
    - double
    - single
- frequency
    - hourly
    - hour-quarterly

1. check row with more rows -> columns
2. check which column starts with a number; if -1, then look row up
3. forward fill to coordinate dates
    - two variables: mwh and €/mwh
    - one variable: mwh or €/mwh

In [46]:
# IDIA10 - quarterly hourly

1. handle columns into sheet, then handle rows

In [55]:
from esios.archives.preprocessing import I90Book

path = '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20240101/I90DIA_20240101.xls'

i90 = I90Book(path)

In [56]:
sheet = i90['I90DIA30']
sheet.df

variable                                                        Precio Marginal Cuartohorario €/MWh
Redespacho Tipo Redespacho Sentido Tipo QH datetime
Terciaria  TERPRO          Subir           2024-01-01 00:00:00                                75.56
                                           2024-01-01 00:15:00                                76.18
                                           2024-01-01 00:30:00                                65.00
                                           2024-01-01 00:45:00                                64.80
                                           2024-01-01 01:00:00                                79.51
...                                                                                             ...
                           Bajar           2024-01-01 22:30:00                                  NaN
                                           2024-01-01 23:00:00                                  NaN
                                           2024-01-01 23:15:00                                  NaN
                                           2024-01-01 23:30:00                                14.64
                                           2024-01-01 23:45:00                                11.10

[144 rows x 1 columns]

In [57]:
sheet = i90['I90DIA17']
sheet.df

variable                                                                           MWh  \
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  0.1
                                                              2024-01-01 01:00:00  0.1
                                                              2024-01-01 02:00:00  0.1
                                                              2024-01-01 03:00:00  0.1
                                                              2024-01-01 04:00:00  0.1
...                                                                                ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00  0.0
                                                              2024-01-01 20:00:00  0.0
                                                              2024-01-01 21:00:00  0.0
                                                              2024-01-01 22:00:00  0.0
                                                              2024-01-01 23:00:00  0.0

variable                                                                              €/MWh
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  99999.99
                                                              2024-01-01 01:00:00  99999.99
                                                              2024-01-01 02:00:00  99999.99
                                                              2024-01-01 03:00:00  99999.99
                                                              2024-01-01 04:00:00  99999.99
...                                                                                     ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00      0.00
                                                              2024-01-01 20:00:00      0.00
                                                              2024-01-01 21:00:00      0.00
                                                              2024-01-01 22:00:00      0.00
                                                              2024-01-01 23:00:00      0.00

[90048 rows x 2 columns]

In [61]:
i90['I90DIA01'].df

                                                        value
Unidad de Programación Tipo Oferta datetime
ABA1                   1.0         2024-01-01 00:00:00    0.1
                                   2024-01-01 01:00:00    0.1
                                   2024-01-01 02:00:00    0.1
                                   2024-01-01 03:00:00    0.1
                                   2024-01-01 04:00:00    0.1
...                                                       ...
ZULUC01                8.0         2024-01-01 19:00:00   -0.1
                                   2024-01-01 20:00:00   -0.1
                                   2024-01-01 21:00:00   -0.1
                                   2024-01-01 22:00:00   -0.1
                                   2024-01-01 23:00:00   -0.1

[44952 rows x 1 columns]

In [62]:
i90['I90DIA02'].df

                                                        value
Unidad de Programación Tipo Oferta datetime
ABA1                   1.0         2024-01-01 00:00:00  0.025
                                   2024-01-01 00:15:00  0.025
                                   2024-01-01 00:30:00  0.025
                                   2024-01-01 00:45:00  0.025
                                   2024-01-01 01:00:00  0.025
...                                                       ...
ZULUC01                8.0         2024-01-01 22:45:00 -0.025
                                   2024-01-01 23:00:00 -0.025
                                   2024-01-01 23:15:00 -0.025
                                   2024-01-01 23:30:00 -0.025
                                   2024-01-01 23:45:00 -0.025

[182880 rows x 1 columns]

In [63]:
i90['I90DIA03'].df

                                                                                                                            value
Redespacho Sentido Unidad de Programación Nm Oferta asignada Tipo Oferta Tipo cálculo Tipo Restricción datetime
UPOPVPV    Subir   ABO2                    31127409.0        1.0         Complejo     RTD              2024-01-01 00:00:00    NaN
                                                                                                       2024-01-01 01:00:00    NaN
                                                                                                       2024-01-01 02:00:00    NaN
                                                                                                       2024-01-01 03:00:00    NaN
                                                                                                       2024-01-01 04:00:00    NaN
...                                                                                                                           ...
ECOBSO     Bajar   ERIO2A                 -1.0               10.0        No aplica    N/A              2024-01-01 19:00:00   -0.5
                                                                                                       2024-01-01 20:00:00   -0.6
                                                                                                       2024-01-01 21:00:00   -0.8
                                                                                                       2024-01-01 22:00:00   -0.9
                                                                                                       2024-01-01 23:00:00   -1.1

[4224 rows x 1 columns]

In [64]:
i90['I90DIA04'].df

Empty DataFrame
Columns: []
Index: []

In [65]:
i90['I90DIA05'].df

                                                                                   value
Sentido Unidad de Programación Nm Oferta asignada Tipo Oferta datetime
Subir   ACE4                   21689513.0         1.0         2024-01-01 00:00:00    0.0
                                                              2024-01-01 00:15:00    0.0
                                                              2024-01-01 00:30:00    0.0
                                                              2024-01-01 00:45:00    0.0
                                                              2024-01-01 01:00:00    0.0
...                                                                                  ...
Bajar   VIES                   21689554.0         1.0         2024-01-01 22:45:00   24.0
                                                              2024-01-01 23:00:00    0.0
                                                              2024-01-01 23:15:00    0.0
                                                              2024-01-01 23:30:00    0.0
                                                              2024-01-01 23:45:00    0.0

[12864 rows x 1 columns]

In [66]:
i90['I90DIA06'].df

                                                                                                     value
Sesión Redespacho Sentido Unidad de Programación Nm Oferta asignada Tipo Oferta datetime
S. 1   RRFRON     Subir   BALFRAI                -1.0               5.0         2024-01-01 00:00:00    0.0
                                                                                2024-01-01 00:15:00    0.0
                                                                                2024-01-01 00:30:00    0.0
                                                                                2024-01-01 00:45:00    0.0
                                                                                2024-01-01 01:00:00    0.0
...                                                                                                    ...
S.24   RR         Subir   UFBG                    2387145.0         1.0         2024-01-01 22:45:00    0.0
                                                                                2024-01-01 23:00:00   22.5
                                                                                2024-01-01 23:15:00   22.5
                                                                                2024-01-01 23:30:00   22.5
                                                                                2024-01-01 23:45:00   22.5

[25920 rows x 1 columns]

In [67]:
i90['I90DIA07'].df

                                                                           value
Redespacho Sentido Unidad de Programación Tipo Oferta datetime
TERPRO     Subir   ACE4                   1.0         2024-01-01 00:00:00    0.0
                                                      2024-01-01 00:15:00    0.0
                                                      2024-01-01 00:30:00    0.0
                                                      2024-01-01 00:45:00    0.0
                                                      2024-01-01 01:00:00    0.0
...                                                                          ...
           Bajar   UFMI                   1.0         2024-01-01 22:45:00    0.0
                                                      2024-01-01 23:00:00    0.0
                                                      2024-01-01 23:15:00    0.0
                                                      2024-01-01 23:30:00    0.0
                                                      2024-01-01 23:45:00    0.0

[7968 rows x 1 columns]

In [68]:
i90['I90DIA08'].df

                                                                                                                                                value
Redespacho             Tipo    Sentido Unidad de Programación Tipo Oferta Tipo cálculo Signo de Energía Tipo Restricción datetime
Restricciones Técnicas UPOTROR Subir   AGUB                   3.0         No aplica    Positivo         SOT              2024-01-01 00:00:00      NaN
                                                                                                                         2024-01-01 00:15:00      NaN
                                                                                                                         2024-01-01 00:30:00      NaN
                                                                                                                         2024-01-01 00:45:00      NaN
                                                                                                                         2024-01-01 01:00:00      NaN
...                                                                                                                                               ...
Otros                  ACCBAL  Bajar   ACBFRAE                5.0         No aplica    Negativo         N/A              2024-01-01 22:45:00 -108.550
                                                                                                                         2024-01-01 23:00:00  -96.175
                                                                                                                         2024-01-01 23:15:00  -96.175
                                                                                                                         2024-01-01 23:30:00  -96.175
                                                                                                                         2024-01-01 23:45:00  -96.175

[3456 rows x 1 columns]

In [69]:
i90['I90DIA09'].df

                                                                                        value
Redespacho Sentido Unidad de Programación Tipo Oferta Tipo cálculo datetime
UPOPVPV    Subir   ABO2                   1.0         Complejo     2024-01-01 00:00:00    NaN
                                                                   2024-01-01 01:00:00    NaN
                                                                   2024-01-01 02:00:00    NaN
                                                                   2024-01-01 03:00:00    NaN
                                                                   2024-01-01 04:00:00    NaN
...                                                                                       ...
ECOBSO     Bajar   ERIO2A                 10.0        No aplica    2024-01-01 19:00:00  63.22
                                                                   2024-01-01 20:00:00  70.04
                                                                   2024-01-01 21:00:00  69.00
                                                                   2024-01-01 22:00:00  54.63
                                                                   2024-01-01 23:00:00  48.40

[3720 rows x 1 columns]

In [70]:
i90['I90DIA10'].df

                                                                                                                             value
Redespacho             Tipo    Sentido Unidad de Programación Tipo Oferta Tipo cálculo Signo de Energía datetime
Restricciones Técnicas UPOTROR Subir   AGUB                   3.0         No aplica    Positivo         2024-01-01 00:00:00    NaN
                                                                                                        2024-01-01 00:15:00    NaN
                                                                                                        2024-01-01 00:30:00    NaN
                                                                                                        2024-01-01 00:45:00    NaN
                                                                                                        2024-01-01 01:00:00    NaN
...                                                                                                                            ...
                       UPLTROR Bajar   SLTB                   3.0         No aplica    Negativo         2024-01-01 22:45:00    NaN
                                                                                                        2024-01-01 23:00:00    NaN
                                                                                                        2024-01-01 23:15:00    NaN
                                                                                                        2024-01-01 23:30:00    NaN
                                                                                                        2024-01-01 23:45:00    NaN

[3072 rows x 1 columns]

In [71]:
i90['I90DIA11'].df

                                                   value
Redespacho             Tipo   datetime
Reserva de sustitución RRFRON 2024-01-01 00:00:00    NaN
                              2024-01-01 00:15:00    NaN
                              2024-01-01 00:30:00    NaN
                              2024-01-01 00:45:00    NaN
                              2024-01-01 01:00:00    NaN
...                                                  ...
                       RR     2024-01-01 22:45:00  60.00
                              2024-01-01 23:00:00  72.80
                              2024-01-01 23:15:00  71.30
                              2024-01-01 23:30:00  63.31
                              2024-01-01 23:45:00  58.00

[192 rows x 1 columns]

In [72]:
i90['I90DIA12'].df

                                            value
Unidad de Programación datetime
ABO1                   2024-01-01 00:00:00  341.7
                       2024-01-01 01:00:00  341.7
                       2024-01-01 02:00:00  341.7
                       2024-01-01 03:00:00  341.7
                       2024-01-01 04:00:00  341.7
...                                           ...
VIES                   2024-01-01 19:00:00   49.4
                       2024-01-01 20:00:00   49.4
                       2024-01-01 21:00:00   49.4
                       2024-01-01 22:00:00   49.4
                       2024-01-01 23:00:00   49.4

[1296 rows x 1 columns]

In [73]:
i90['I90DIA13'].df

variable                                                                                          MW  \
Sentido Unidad de Programación Bloque Nº Oferta  Tipo Oferta Divisibilidad datetime
Subir   ABO2                   Blq. 1 21689529.0 1.0         Indivisible   2024-01-01 00:00:00  15.0
                                                                           2024-01-01 01:00:00  15.0
                                                                           2024-01-01 02:00:00  15.0
                                                                           2024-01-01 03:00:00  15.0
                                                                           2024-01-01 04:00:00  15.0
...                                                                                              ...
Bajar   VIES                   Blq. 4 21689554.0 1.0         Divisible     2024-01-01 19:00:00   5.0
                                                                           2024-01-01 20:00:00   5.0
                                                                           2024-01-01 21:00:00   5.0
                                                                           2024-01-01 22:00:00   5.0
                                                                           2024-01-01 23:00:00   5.0

variable                                                                                         €/MW
Sentido Unidad de Programación Bloque Nº Oferta  Tipo Oferta Divisibilidad datetime
Subir   ABO2                   Blq. 1 21689529.0 1.0         Indivisible   2024-01-01 00:00:00   6.98
                                                                           2024-01-01 01:00:00   6.96
                                                                           2024-01-01 02:00:00  16.66
                                                                           2024-01-01 03:00:00  17.16
                                                                           2024-01-01 04:00:00  17.29
...                                                                                               ...
Bajar   VIES                   Blq. 4 21689554.0 1.0         Divisible     2024-01-01 19:00:00   9.78
                                                                           2024-01-01 20:00:00   7.20
                                                                           2024-01-01 21:00:00   7.52
                                                                           2024-01-01 22:00:00  42.20
                                                                           2024-01-01 23:00:00  44.25

[9456 rows x 2 columns]

In [75]:
i90['I90DIA14'].df

variable                                                                             MW  \
Sentido Unidad de Programación Bloque Tipo Oferta Divisibilidad datetime
Subir   ABO2                   Blq. 1 1.0         Divisible     2024-01-01 00:00:00 NaN
                                                                2024-01-01 00:15:00 NaN
                                                                2024-01-01 00:30:00 NaN
                                                                2024-01-01 00:45:00 NaN
                                                                2024-01-01 01:00:00 NaN
...                                                                                  ..
Bajar   VIES                   Blq. 2 1.0         Divisible     2024-01-01 22:45:00 NaN
                                                                2024-01-01 23:00:00 NaN
                                                                2024-01-01 23:15:00 NaN
                                                                2024-01-01 23:30:00 NaN
                                                                2024-01-01 23:45:00 NaN

variable                                                                             €/MWh
Sentido Unidad de Programación Bloque Tipo Oferta Divisibilidad datetime
Subir   ABO2                   Blq. 1 1.0         Divisible     2024-01-01 00:00:00    NaN
                                                                2024-01-01 00:15:00    NaN
                                                                2024-01-01 00:30:00    NaN
                                                                2024-01-01 00:45:00    NaN
                                                                2024-01-01 01:00:00    NaN
...                                                                                    ...
Bajar   VIES                   Blq. 2 1.0         Divisible     2024-01-01 22:45:00    NaN
                                                                2024-01-01 23:00:00    NaN
                                                                2024-01-01 23:15:00    NaN
                                                                2024-01-01 23:30:00    NaN
                                                                2024-01-01 23:45:00    NaN

[142656 rows x 2 columns]

In [76]:
i90['I90DIA15'].df

variable                                                               MWh  \
Sentido Unidad de Programación Bloque Tipo Oferta datetime
Subir   ABO2                   Blq. 1 1.0         2024-01-01 00:00:00  NaN
                                                  2024-01-01 00:15:00  NaN
                                                  2024-01-01 00:30:00  NaN
                                                  2024-01-01 00:45:00  NaN
                                                  2024-01-01 01:00:00  NaN
...                                                                    ...
Bajar   VIES                   Blq. 2 1.0         2024-01-01 22:45:00  NaN
                                                  2024-01-01 23:00:00  NaN
                                                  2024-01-01 23:15:00  NaN
                                                  2024-01-01 23:30:00  NaN
                                                  2024-01-01 23:45:00  NaN

variable                                                               €/MWh
Sentido Unidad de Programación Bloque Tipo Oferta datetime
Subir   ABO2                   Blq. 1 1.0         2024-01-01 00:00:00    NaN
                                                  2024-01-01 00:15:00    NaN
                                                  2024-01-01 00:30:00    NaN
                                                  2024-01-01 00:45:00    NaN
                                                  2024-01-01 01:00:00    NaN
...                                                                      ...
Bajar   VIES                   Blq. 2 1.0         2024-01-01 22:45:00    NaN
                                                  2024-01-01 23:00:00    NaN
                                                  2024-01-01 23:15:00    NaN
                                                  2024-01-01 23:30:00    NaN
                                                  2024-01-01 23:45:00    NaN

[80064 rows x 2 columns]

No datetime column, just date; it'll be done in the future...

- I90DIA16
- I90DIA18

In [79]:
i90['I90DIA16'].df

Error in _preprocess: could not convert string to float: 'Sentencia judicial'

Empty DataFrame
Columns: []
Index: []

In [80]:
i90.sheets['I90DIA02'].df

                                                        value
Unidad de Programación Tipo Oferta datetime
ABA1                   1.0         2024-01-01 00:00:00  0.025
                                   2024-01-01 00:15:00  0.025
                                   2024-01-01 00:30:00  0.025
                                   2024-01-01 00:45:00  0.025
                                   2024-01-01 01:00:00  0.025
...                                                       ...
ZULUC01                8.0         2024-01-01 22:45:00 -0.025
                                   2024-01-01 23:00:00 -0.025
                                   2024-01-01 23:15:00 -0.025
                                   2024-01-01 23:30:00 -0.025
                                   2024-01-01 23:45:00 -0.025

[182880 rows x 1 columns]

In [ ]:
import numpy as np

s = ['00-01', np.nan, '01-02', np.nan, '02-03', np.nan, '03-04', np.nan, '04-05', np.nan, '05-06', np.nan,
 '06-07', np.nan, '07-08', np.nan, '08-09', np.nan, '09-10', np.nan, '10-11', np.nan, '11-12', np.nan,
 '12-13', np.nan, '13-14', np.nan, '14-15', np.nan, '15-16', np.nan, '16-17', np.nan, '17-18', np.nan,
 '18-19', np.nan, '19-20', np.nan, '20-21', np.nan, '21-22', np.nan, '22-23', np.nan, '23-24', np.nan,]

In [ ]:
s = pd.Series(s)

In [ ]:
print(s)

0     00-01
1       NaN
2     01-02
3       NaN
4     02-03
5       NaN
6     03-04
7       NaN
8     04-05
9       NaN
10    05-06
11      NaN
12    06-07
13      NaN
14    07-08
15      NaN
16    08-09
17      NaN
18    09-10
19      NaN
20    10-11
21      NaN
22    11-12
23      NaN
24    12-13
25      NaN
26    13-14
27      NaN
28    14-15
29      NaN
30    15-16
31      NaN
32    16-17
33      NaN
34    17-18
35      NaN
36    18-19
37      NaN
38    19-20
39      NaN
40    20-21
41      NaN
42    21-22
43      NaN
44    22-23
45      NaN
46    23-24
47      NaN
dtype: object

In [6]:
sheet.df.reset_index()

variable,Redespacho,Tipo Redespacho,Sentido,datetime,Precio Marginal Cuartohorario €/MWh
0,Terciaria,TERPRO,Subir,2024-01-01 00:00:00,75.56
1,Terciaria,TERPRO,Subir,2024-01-01 00:15:00,76.18
2,Terciaria,TERPRO,Subir,2024-01-01 00:30:00,65.00
3,Terciaria,TERPRO,Subir,2024-01-01 00:45:00,64.80
4,Terciaria,TERPRO,Subir,2024-01-01 01:00:00,79.51
...,...,...,...,...,...
139,Terciaria,TERPRO,Bajar,2024-01-01 22:30:00,NaN
140,Terciaria,TERPRO,Bajar,2024-01-01 23:00:00,NaN
141,Terciaria,TERPRO,Bajar,2024-01-01 23:15:00,NaN
142,Terciaria,TERPRO,Bajar,2024-01-01 23:30:00,14.64
143,Terciaria,TERPRO,Bajar,2024-01-01 23:45:00,11.10

In [6]:
sheet = i90['I90DIA17']
sheet.df

variable                                                                           MWh  \
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  0.1
                                                              2024-01-01 01:00:00  0.1
                                                              2024-01-01 02:00:00  0.1
                                                              2024-01-01 03:00:00  0.1
                                                              2024-01-01 04:00:00  0.1
...                                                                                ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00  0.0
                                                              2024-01-01 20:00:00  0.0
                                                              2024-01-01 21:00:00  0.0
                                                              2024-01-01 22:00:00  0.0
                                                              2024-01-01 23:00:00  0.0

variable                                                                              €/MWh
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  99999.99
                                                              2024-01-01 01:00:00  99999.99
                                                              2024-01-01 02:00:00  99999.99
                                                              2024-01-01 03:00:00  99999.99
                                                              2024-01-01 04:00:00  99999.99
...                                                                                     ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00      0.00
                                                              2024-01-01 20:00:00      0.00
                                                              2024-01-01 21:00:00      0.00
                                                              2024-01-01 22:00:00      0.00
                                                              2024-01-01 23:00:00      0.00

[90048 rows x 2 columns]

In [2]:

path = Path()
sheet_name = 'I90DIA30'

rows_i, row_j, row, rows = preprocessing.process_excel_file(path, sheet_name)

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.DataFrame(rows_i, columns=row).set_index(row_j)

                                                     Indicadores  Total MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0                        3088.0
ALG3                   Blq. 1 20026008.0 1.0                        1944.8
                       Blq. 2 20026008.0 1.0                        1448.5
                       Blq. 3 20026008.0 1.0                        1448.5
                       Blq. 4 20026008.0 1.0                        1448.4
...                                                          ...       ...
TAPOWER                Blq. 1 20026005.0 1.0                        3335.2
TARRAG                 Blq. 1 20026006.0 1.0                        1760.0
                       Blq. 2 20026006.0 1.0                         560.0
                       Blq. 3 20026006.0 1.0                         560.0
                       Blq. 4 20026006.0 1.0                         206.4

                                                      PMP €/MWh MW €/MWh MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           63.21000
ALG3                   Blq. 1 20026008.0 1.0          377.83000
                       Blq. 2 20026008.0 1.0          378.29347
                       Blq. 3 20026008.0 1.0          428.29347
                       Blq. 4 20026008.0 1.0          428.78129
...                                                         ... ..   ... ..
TAPOWER                Blq. 1 20026005.0 1.0           71.70500
TARRAG                 Blq. 1 20026006.0 1.0          253.37000
                       Blq. 2 20026006.0 1.0          253.87000
                       Blq. 3 20026006.0 1.0          254.37000
                       Blq. 4 20026006.0 1.0          329.37000

                                                     €/MWh MW €/MWh MW  ...  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta                    ...
ACE3                   Blq. 1 20025993.0 1.0                            ...
ALG3                   Blq. 1 20026008.0 1.0                            ...
                       Blq. 2 20026008.0 1.0                            ...
                       Blq. 3 20026008.0 1.0                            ...
                       Blq. 4 20026008.0 1.0                            ...
...                                                    ... ..   ... ..  ...
TAPOWER                Blq. 1 20026005.0 1.0                            ...
TARRAG                 Blq. 1 20026006.0 1.0                            ...
                       Blq. 2 20026006.0 1.0                            ...
                       Blq. 3 20026006.0 1.0                            ...
                       Blq. 4 20026006.0 1.0                            ...

                                                         MW   €/MWh     MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0          386.0   48.21  386.0
ALG3                   Blq. 1 20026008.0 1.0          243.1  201.45  243.1
                       Blq. 2 20026008.0 1.0          181.2  201.95  181.5
                       Blq. 3 20026008.0 1.0          181.2  251.95  181.5
                       Blq. 4 20026008.0 1.0          181.2  252.45  181.6
...                                                     ...     ...    ...
TAPOWER                Blq. 1 20026005.0 1.0          416.9   59.20  416.9
TARRAG                 Blq. 1 20026006.0 1.0          220.0  253.37  220.0
                       Blq. 2 20026006.0 1.0           70.0  253.87   70.0
                       Blq. 3 20026006.0 1.0           70.0  254.37   70.0
                       Blq. 4 20026006.0 1.0           25.8  329.37   25.8

                                                       €/MWh     MW   €/MWh  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           48.21  386.0   48.21
ALG3                   Blq. 1 20026008.0 1.0          201.45  243.1  201.45
                       Blq. 2 20026008.0 1.0          201.95  181.7  201.95
                       Blq. 3 20026008.0 1.0          251.95  181.7  251.95
                       Blq. 4 20026008.0 1.0          252.45  181.6  252.45
...                                                      ...    ...     ...
TAPOWER                Blq. 1 20026005.0 1.0           59.20  416.9   59.20
TARRAG                 Blq. 1 20026006.0 1.0          253.37  220.0  253.37
                       Blq. 2 20026006.0 1.0          253.87   70.0  253.87
                       Blq. 3 20026006.0 1.0          254.37   70.0  254.37
                       Blq. 4 20026006.0 1.0          329.37   25.8  329.37

                                                     MW €/MWh MW €/MWh
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0
ALG3                   Blq. 1 20026008.0 1.0
                       Blq. 2 20026008.0 1.0
                       Blq. 3 20026008.0 1.0
                       Blq. 4 20026008.0 1.0
...                                                  ..   ... ..   ...
TAPOWER                Blq. 1 20026005.0 1.0
TARRAG                 Blq. 1 20026006.0 1.0
                       Blq. 2 20026006.0 1.0
                       Blq. 3 20026006.0 1.0
                       Blq. 4 20026006.0 1.0

[82 rows x 51 columns]

In [10]:
## Start process of going to upper row for numbers

In [11]:
idx_column_start = get_idx_column_start(columns_prior)
idx_column_start

7

In [30]:
df.melt(ignore_index=False)

KeyError: 'Level variable not found'

In [11]:
idx

np.int64(2)

In [13]:
max_index = len_rows.index(max(len_rows))
max_index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [18]:
row_j

['Unidad de Programación', 'Bloque', 'Nº Oferta', 'Tipo Oferta']

In [14]:
row_j

['Unidad de Programación', 'Bloque', 'Nº Oferta', 'Tipo Oferta']

In [15]:
pd.DataFrame(rows_i, columns=row).set_index(row_j)

                                                     Indicadores  Total MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0                        3088.0
ALG3                   Blq. 1 20026008.0 1.0                        1944.8
                       Blq. 2 20026008.0 1.0                        1448.5
                       Blq. 3 20026008.0 1.0                        1448.5
                       Blq. 4 20026008.0 1.0                        1448.4
...                                                          ...       ...
TAPOWER                Blq. 1 20026005.0 1.0                        3335.2
TARRAG                 Blq. 1 20026006.0 1.0                        1760.0
                       Blq. 2 20026006.0 1.0                         560.0
                       Blq. 3 20026006.0 1.0                         560.0
                       Blq. 4 20026006.0 1.0                         206.4

                                                      PMP €/MWh MW €/MWh MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           63.21000
ALG3                   Blq. 1 20026008.0 1.0          377.83000
                       Blq. 2 20026008.0 1.0          378.29347
                       Blq. 3 20026008.0 1.0          428.29347
                       Blq. 4 20026008.0 1.0          428.78129
...                                                         ... ..   ... ..
TAPOWER                Blq. 1 20026005.0 1.0           71.70500
TARRAG                 Blq. 1 20026006.0 1.0          253.37000
                       Blq. 2 20026006.0 1.0          253.87000
                       Blq. 3 20026006.0 1.0          254.37000
                       Blq. 4 20026006.0 1.0          329.37000

                                                     €/MWh MW €/MWh MW  ...  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta                    ...
ACE3                   Blq. 1 20025993.0 1.0                            ...
ALG3                   Blq. 1 20026008.0 1.0                            ...
                       Blq. 2 20026008.0 1.0                            ...
                       Blq. 3 20026008.0 1.0                            ...
                       Blq. 4 20026008.0 1.0                            ...
...                                                    ... ..   ... ..  ...
TAPOWER                Blq. 1 20026005.0 1.0                            ...
TARRAG                 Blq. 1 20026006.0 1.0                            ...
                       Blq. 2 20026006.0 1.0                            ...
                       Blq. 3 20026006.0 1.0                            ...
                       Blq. 4 20026006.0 1.0                            ...

                                                         MW   €/MWh     MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0          386.0   48.21  386.0
ALG3                   Blq. 1 20026008.0 1.0          243.1  201.45  243.1
                       Blq. 2 20026008.0 1.0          181.2  201.95  181.5
                       Blq. 3 20026008.0 1.0          181.2  251.95  181.5
                       Blq. 4 20026008.0 1.0          181.2  252.45  181.6
...                                                     ...     ...    ...
TAPOWER                Blq. 1 20026005.0 1.0          416.9   59.20  416.9
TARRAG                 Blq. 1 20026006.0 1.0          220.0  253.37  220.0
                       Blq. 2 20026006.0 1.0           70.0  253.87   70.0
                       Blq. 3 20026006.0 1.0           70.0  254.37   70.0
                       Blq. 4 20026006.0 1.0           25.8  329.37   25.8

                                                       €/MWh     MW   €/MWh  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           48.21  386.0   48.21
ALG3                   Blq. 1 20026008.0 1.0          201.45  243.1  201.45
                       Blq. 2 20026008.0 1.0          201.95  181.7  201.95
                       Blq. 3 20026008.0 1.0          251.95  181.7  251.95
                       Blq. 4 20026008.0 1.0          252.45  181.6  252.45
...                                                      ...    ...     ...
TAPOWER                Blq. 1 20026005.0 1.0           59.20  416.9   59.20
TARRAG                 Blq. 1 20026006.0 1.0          253.37  220.0  253.37
                       Blq. 2 20026006.0 1.0          253.87   70.0  253.87
                       Blq. 3 20026006.0 1.0          254.37   70.0  254.37
                       Blq. 4 20026006.0 1.0          329.37   25.8  329.37

                                                     MW €/MWh MW €/MWh
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0
ALG3                   Blq. 1 20026008.0 1.0
                       Blq. 2 20026008.0 1.0
                       Blq. 3 20026008.0 1.0
                       Blq. 4 20026008.0 1.0
...                                                  ..   ... ..   ...
TAPOWER                Blq. 1 20026005.0 1.0
TARRAG                 Blq. 1 20026006.0 1.0
                       Blq. 2 20026006.0 1.0
                       Blq. 3 20026006.0 1.0
                       Blq. 4 20026006.0 1.0

[82 rows x 51 columns]

In [7]:
import pandas as pd

pd.DataFrame(rows[i:])

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,,,,,Dia,2014-01-10,,,,,...,,,,,,,,,,
1,,,,,Hora,Total MW y Precio Medio,,00-01,,01-02,...,19-20,,20-21,,21-22,,22-23,,23-24,
2,Unidad de Programación,Bloque,Nº Oferta,Tipo Oferta,Indicadores,Total MW,PMP €/MWh,MW,€/MWh,MW,...,MW,€/MWh,MW,€/MWh,MW,€/MWh,MW,€/MWh,MW,€/MWh
3,ACE3,Blq. 1,20025993,1.0,,3088.0,63.21,,,,...,386.0,48.21,386.0,48.21,386.0,48.21,,,,
4,ALG3,Blq. 1,20026008,1.0,,1944.8,377.83,,,,...,243.1,201.45,243.1,201.45,243.1,201.45,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,TAPOWER,Blq. 1,20026005,1.0,,3335.2,71.705,,,,...,416.9,59.2,416.9,59.2,416.9,59.2,,,,
81,TARRAG,Blq. 1,20026006,1.0,,1760.0,253.37,,,,...,220.0,253.37,220.0,253.37,220.0,253.37,,,,
82,TARRAG,Blq. 2,20026006,1.0,,560.0,253.87,,,,...,70.0,253.87,70.0,253.87,70.0,253.87,,,,
83,TARRAG,Blq. 3,20026006,1.0,,560.0,254.37,,,,...,70.0,254.37,70.0,254.37,70.0,254.37,,,,
84,TARRAG,Blq. 4,20026006,1.0,,206.4,329.37,,,,...,25.8,329.37,25.8,329.37,25.8,329.37,,,,

In [4]:
row

['Unidad de Programación',
 'Bloque',
 'Nº Oferta',
 'Tipo Oferta',
 'Indicadores',
 'Total MW',
 'PMP €/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh']

In [2]:
df_base

,Redespacho,Sentido,Unidad de Programación,Nm Oferta asignada,Tipo Oferta,Tipo cálculo,Tipo Restricción,datetime,value
0,UPOPVPV,Subir,ABO2,31445465,1,Complejo,RTD,2024-02-21 00:00:00+01:00,NaN
1,UPOPVPV,Subir,ACE4,31445583,1,Complejo,SOT,2024-02-21 00:00:00+01:00,116.6
...,...,...,...,...,...,...,...,...,...
4030,ECOBCBSO,Bajar,GDNA,25451783,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN
4031,ECOBCBSO,Bajar,TERE,25451786,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN

In [5]:
values = ['RTD', 'SOT'] # curtailment

df = df.query('')

['RTD', 'SOT']

### Unit specific involved in contracts

In [5]:
unit = "ENDE01"
contracts = df_base.query('unit == @unit').contract.unique()
contracts

array([1019, 1513, 1994, 2293, 2193, 2330])

In [6]:
mask = df_base.contract.isin(contracts)
df = df_base[mask]
df

       unit  offer_type  contract   hour  value            datetime   agent
12     ALZ1           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
16     ALZ2           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
...     ...         ...       ...    ...    ...                 ...     ...
12214  TERE           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller
12241  VAN2           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller

[696 rows x 7 columns]

In [7]:
df.groupby(['unit', 'agent']).value.sum().unstack('agent').sort_values('Buyer', ascending=False).fillna(0).style.format(precision=0)

## References

https://www.energychisquared.com/post/tipos-de-bilaterales-en-el-sistema-el%C3%A9ctrico/