# Analyze

## Load files

- I90DIA27: Bilateral

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from esios.archives import preprocessing
from pathlib import Path

- 6A: Date of data
- 6C: Date of publication
- 10(rest of rows)AB: Table of contents

In [3]:
import pandas as pd

pd.set_option('future.no_silent_downcasting', True)

Possibilities of columns:
    
- columns
    - double
    - single
- frequency
    - hourly
    - hour-quarterly

1. check row with more rows -> columns
2. check which column starts with a number; if -1, then look row up
3. forward fill to coordinate dates
    - two variables: mwh and €/mwh
    - one variable: mwh or €/mwh

In [4]:
# IDIA10 - quarterly hourly

1. handle columns into sheet, then handle rows

In [5]:
from esios.archives.preprocessing import I90Book

path = '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20240101/I90DIA_20240101.xls'

i90 = I90Book(path)
sheet = i90['I90DIA30']
sheet.df

variable                                                Precio Marginal Cuartohorario €/MWh
Redespacho Tipo Redespacho Sentido datetime
Terciaria  TERPRO          Subir   2024-01-01 00:00:00                                75.56
                                   2024-01-01 00:15:00                                76.18
                                   2024-01-01 00:30:00                                65.00
                                   2024-01-01 00:45:00                                64.80
                                   2024-01-01 01:00:00                                79.51
...                                                                                     ...
                           Bajar   2024-01-01 22:30:00                                  NaN
                                   2024-01-01 23:00:00                                  NaN
                                   2024-01-01 23:15:00                                  NaN
                                   2024-01-01 23:30:00                                14.64
                                   2024-01-01 23:45:00                                11.10

[144 rows x 1 columns]

In [6]:
sheet.df.reset_index()

variable,Redespacho,Tipo Redespacho,Sentido,datetime,Precio Marginal Cuartohorario €/MWh
0,Terciaria,TERPRO,Subir,2024-01-01 00:00:00,75.56
1,Terciaria,TERPRO,Subir,2024-01-01 00:15:00,76.18
2,Terciaria,TERPRO,Subir,2024-01-01 00:30:00,65.00
3,Terciaria,TERPRO,Subir,2024-01-01 00:45:00,64.80
4,Terciaria,TERPRO,Subir,2024-01-01 01:00:00,79.51
...,...,...,...,...,...
139,Terciaria,TERPRO,Bajar,2024-01-01 22:30:00,NaN
140,Terciaria,TERPRO,Bajar,2024-01-01 23:00:00,NaN
141,Terciaria,TERPRO,Bajar,2024-01-01 23:15:00,NaN
142,Terciaria,TERPRO,Bajar,2024-01-01 23:30:00,14.64
143,Terciaria,TERPRO,Bajar,2024-01-01 23:45:00,11.10

In [6]:
sheet = i90['I90DIA17']
sheet.df

variable                                                                           MWh  \
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  0.1
                                                              2024-01-01 01:00:00  0.1
                                                              2024-01-01 02:00:00  0.1
                                                              2024-01-01 03:00:00  0.1
                                                              2024-01-01 04:00:00  0.1
...                                                                                ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00  0.0
                                                              2024-01-01 20:00:00  0.0
                                                              2024-01-01 21:00:00  0.0
                                                              2024-01-01 22:00:00  0.0
                                                              2024-01-01 23:00:00  0.0

variable                                                                              €/MWh
Sentido Unidad de Programación Bloque Tipo Oferta Precedencia datetime
Venta   A12PAME                Blq. 1 2.0         Mercado     2024-01-01 00:00:00  99999.99
                                                              2024-01-01 01:00:00  99999.99
                                                              2024-01-01 02:00:00  99999.99
                                                              2024-01-01 03:00:00  99999.99
                                                              2024-01-01 04:00:00  99999.99
...                                                                                     ...
Compra  ZJARVE                 Blq. 1 10.0        Mercado     2024-01-01 19:00:00      0.00
                                                              2024-01-01 20:00:00      0.00
                                                              2024-01-01 21:00:00      0.00
                                                              2024-01-01 22:00:00      0.00
                                                              2024-01-01 23:00:00      0.00

[90048 rows x 2 columns]

In [2]:

path = Path()
sheet_name = 'I90DIA30'

rows_i, row_j, row, rows = preprocessing.process_excel_file(path, sheet_name)

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.DataFrame(rows_i, columns=row).set_index(row_j)

                                                     Indicadores  Total MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0                        3088.0
ALG3                   Blq. 1 20026008.0 1.0                        1944.8
                       Blq. 2 20026008.0 1.0                        1448.5
                       Blq. 3 20026008.0 1.0                        1448.5
                       Blq. 4 20026008.0 1.0                        1448.4
...                                                          ...       ...
TAPOWER                Blq. 1 20026005.0 1.0                        3335.2
TARRAG                 Blq. 1 20026006.0 1.0                        1760.0
                       Blq. 2 20026006.0 1.0                         560.0
                       Blq. 3 20026006.0 1.0                         560.0
                       Blq. 4 20026006.0 1.0                         206.4

                                                      PMP €/MWh MW €/MWh MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           63.21000
ALG3                   Blq. 1 20026008.0 1.0          377.83000
                       Blq. 2 20026008.0 1.0          378.29347
                       Blq. 3 20026008.0 1.0          428.29347
                       Blq. 4 20026008.0 1.0          428.78129
...                                                         ... ..   ... ..
TAPOWER                Blq. 1 20026005.0 1.0           71.70500
TARRAG                 Blq. 1 20026006.0 1.0          253.37000
                       Blq. 2 20026006.0 1.0          253.87000
                       Blq. 3 20026006.0 1.0          254.37000
                       Blq. 4 20026006.0 1.0          329.37000

                                                     €/MWh MW €/MWh MW  ...  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta                    ...
ACE3                   Blq. 1 20025993.0 1.0                            ...
ALG3                   Blq. 1 20026008.0 1.0                            ...
                       Blq. 2 20026008.0 1.0                            ...
                       Blq. 3 20026008.0 1.0                            ...
                       Blq. 4 20026008.0 1.0                            ...
...                                                    ... ..   ... ..  ...
TAPOWER                Blq. 1 20026005.0 1.0                            ...
TARRAG                 Blq. 1 20026006.0 1.0                            ...
                       Blq. 2 20026006.0 1.0                            ...
                       Blq. 3 20026006.0 1.0                            ...
                       Blq. 4 20026006.0 1.0                            ...

                                                         MW   €/MWh     MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0          386.0   48.21  386.0
ALG3                   Blq. 1 20026008.0 1.0          243.1  201.45  243.1
                       Blq. 2 20026008.0 1.0          181.2  201.95  181.5
                       Blq. 3 20026008.0 1.0          181.2  251.95  181.5
                       Blq. 4 20026008.0 1.0          181.2  252.45  181.6
...                                                     ...     ...    ...
TAPOWER                Blq. 1 20026005.0 1.0          416.9   59.20  416.9
TARRAG                 Blq. 1 20026006.0 1.0          220.0  253.37  220.0
                       Blq. 2 20026006.0 1.0           70.0  253.87   70.0
                       Blq. 3 20026006.0 1.0           70.0  254.37   70.0
                       Blq. 4 20026006.0 1.0           25.8  329.37   25.8

                                                       €/MWh     MW   €/MWh  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           48.21  386.0   48.21
ALG3                   Blq. 1 20026008.0 1.0          201.45  243.1  201.45
                       Blq. 2 20026008.0 1.0          201.95  181.7  201.95
                       Blq. 3 20026008.0 1.0          251.95  181.7  251.95
                       Blq. 4 20026008.0 1.0          252.45  181.6  252.45
...                                                      ...    ...     ...
TAPOWER                Blq. 1 20026005.0 1.0           59.20  416.9   59.20
TARRAG                 Blq. 1 20026006.0 1.0          253.37  220.0  253.37
                       Blq. 2 20026006.0 1.0          253.87   70.0  253.87
                       Blq. 3 20026006.0 1.0          254.37   70.0  254.37
                       Blq. 4 20026006.0 1.0          329.37   25.8  329.37

                                                     MW €/MWh MW €/MWh
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0
ALG3                   Blq. 1 20026008.0 1.0
                       Blq. 2 20026008.0 1.0
                       Blq. 3 20026008.0 1.0
                       Blq. 4 20026008.0 1.0
...                                                  ..   ... ..   ...
TAPOWER                Blq. 1 20026005.0 1.0
TARRAG                 Blq. 1 20026006.0 1.0
                       Blq. 2 20026006.0 1.0
                       Blq. 3 20026006.0 1.0
                       Blq. 4 20026006.0 1.0

[82 rows x 51 columns]

In [10]:
## Start process of going to upper row for numbers

In [11]:
idx_column_start = get_idx_column_start(columns_prior)
idx_column_start

7

In [30]:
df.melt(ignore_index=False)

KeyError: 'Level variable not found'

In [11]:
idx

np.int64(2)

In [13]:
max_index = len_rows.index(max(len_rows))
max_index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [18]:
row_j

['Unidad de Programación', 'Bloque', 'Nº Oferta', 'Tipo Oferta']

In [14]:
row_j

['Unidad de Programación', 'Bloque', 'Nº Oferta', 'Tipo Oferta']

In [15]:
pd.DataFrame(rows_i, columns=row).set_index(row_j)

                                                     Indicadores  Total MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0                        3088.0
ALG3                   Blq. 1 20026008.0 1.0                        1944.8
                       Blq. 2 20026008.0 1.0                        1448.5
                       Blq. 3 20026008.0 1.0                        1448.5
                       Blq. 4 20026008.0 1.0                        1448.4
...                                                          ...       ...
TAPOWER                Blq. 1 20026005.0 1.0                        3335.2
TARRAG                 Blq. 1 20026006.0 1.0                        1760.0
                       Blq. 2 20026006.0 1.0                         560.0
                       Blq. 3 20026006.0 1.0                         560.0
                       Blq. 4 20026006.0 1.0                         206.4

                                                      PMP €/MWh MW €/MWh MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           63.21000
ALG3                   Blq. 1 20026008.0 1.0          377.83000
                       Blq. 2 20026008.0 1.0          378.29347
                       Blq. 3 20026008.0 1.0          428.29347
                       Blq. 4 20026008.0 1.0          428.78129
...                                                         ... ..   ... ..
TAPOWER                Blq. 1 20026005.0 1.0           71.70500
TARRAG                 Blq. 1 20026006.0 1.0          253.37000
                       Blq. 2 20026006.0 1.0          253.87000
                       Blq. 3 20026006.0 1.0          254.37000
                       Blq. 4 20026006.0 1.0          329.37000

                                                     €/MWh MW €/MWh MW  ...  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta                    ...
ACE3                   Blq. 1 20025993.0 1.0                            ...
ALG3                   Blq. 1 20026008.0 1.0                            ...
                       Blq. 2 20026008.0 1.0                            ...
                       Blq. 3 20026008.0 1.0                            ...
                       Blq. 4 20026008.0 1.0                            ...
...                                                    ... ..   ... ..  ...
TAPOWER                Blq. 1 20026005.0 1.0                            ...
TARRAG                 Blq. 1 20026006.0 1.0                            ...
                       Blq. 2 20026006.0 1.0                            ...
                       Blq. 3 20026006.0 1.0                            ...
                       Blq. 4 20026006.0 1.0                            ...

                                                         MW   €/MWh     MW  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0          386.0   48.21  386.0
ALG3                   Blq. 1 20026008.0 1.0          243.1  201.45  243.1
                       Blq. 2 20026008.0 1.0          181.2  201.95  181.5
                       Blq. 3 20026008.0 1.0          181.2  251.95  181.5
                       Blq. 4 20026008.0 1.0          181.2  252.45  181.6
...                                                     ...     ...    ...
TAPOWER                Blq. 1 20026005.0 1.0          416.9   59.20  416.9
TARRAG                 Blq. 1 20026006.0 1.0          220.0  253.37  220.0
                       Blq. 2 20026006.0 1.0           70.0  253.87   70.0
                       Blq. 3 20026006.0 1.0           70.0  254.37   70.0
                       Blq. 4 20026006.0 1.0           25.8  329.37   25.8

                                                       €/MWh     MW   €/MWh  \
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0           48.21  386.0   48.21
ALG3                   Blq. 1 20026008.0 1.0          201.45  243.1  201.45
                       Blq. 2 20026008.0 1.0          201.95  181.7  201.95
                       Blq. 3 20026008.0 1.0          251.95  181.7  251.95
                       Blq. 4 20026008.0 1.0          252.45  181.6  252.45
...                                                      ...    ...     ...
TAPOWER                Blq. 1 20026005.0 1.0           59.20  416.9   59.20
TARRAG                 Blq. 1 20026006.0 1.0          253.37  220.0  253.37
                       Blq. 2 20026006.0 1.0          253.87   70.0  253.87
                       Blq. 3 20026006.0 1.0          254.37   70.0  254.37
                       Blq. 4 20026006.0 1.0          329.37   25.8  329.37

                                                     MW €/MWh MW €/MWh
Unidad de Programación Bloque Nº Oferta  Tipo Oferta
ACE3                   Blq. 1 20025993.0 1.0
ALG3                   Blq. 1 20026008.0 1.0
                       Blq. 2 20026008.0 1.0
                       Blq. 3 20026008.0 1.0
                       Blq. 4 20026008.0 1.0
...                                                  ..   ... ..   ...
TAPOWER                Blq. 1 20026005.0 1.0
TARRAG                 Blq. 1 20026006.0 1.0
                       Blq. 2 20026006.0 1.0
                       Blq. 3 20026006.0 1.0
                       Blq. 4 20026006.0 1.0

[82 rows x 51 columns]

In [7]:
import pandas as pd

pd.DataFrame(rows[i:])

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,,,,,Dia,2014-01-10,,,,,...,,,,,,,,,,
1,,,,,Hora,Total MW y Precio Medio,,00-01,,01-02,...,19-20,,20-21,,21-22,,22-23,,23-24,
2,Unidad de Programación,Bloque,Nº Oferta,Tipo Oferta,Indicadores,Total MW,PMP €/MWh,MW,€/MWh,MW,...,MW,€/MWh,MW,€/MWh,MW,€/MWh,MW,€/MWh,MW,€/MWh
3,ACE3,Blq. 1,20025993,1.0,,3088.0,63.21,,,,...,386.0,48.21,386.0,48.21,386.0,48.21,,,,
4,ALG3,Blq. 1,20026008,1.0,,1944.8,377.83,,,,...,243.1,201.45,243.1,201.45,243.1,201.45,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,TAPOWER,Blq. 1,20026005,1.0,,3335.2,71.705,,,,...,416.9,59.2,416.9,59.2,416.9,59.2,,,,
81,TARRAG,Blq. 1,20026006,1.0,,1760.0,253.37,,,,...,220.0,253.37,220.0,253.37,220.0,253.37,,,,
82,TARRAG,Blq. 2,20026006,1.0,,560.0,253.87,,,,...,70.0,253.87,70.0,253.87,70.0,253.87,,,,
83,TARRAG,Blq. 3,20026006,1.0,,560.0,254.37,,,,...,70.0,254.37,70.0,254.37,70.0,254.37,,,,
84,TARRAG,Blq. 4,20026006,1.0,,206.4,329.37,,,,...,25.8,329.37,25.8,329.37,25.8,329.37,,,,

In [4]:
row

['Unidad de Programación',
 'Bloque',
 'Nº Oferta',
 'Tipo Oferta',
 'Indicadores',
 'Total MW',
 'PMP €/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh',
 'MW',
 '€/MWh']

In [2]:
df_base

,Redespacho,Sentido,Unidad de Programación,Nm Oferta asignada,Tipo Oferta,Tipo cálculo,Tipo Restricción,datetime,value
0,UPOPVPV,Subir,ABO2,31445465,1,Complejo,RTD,2024-02-21 00:00:00+01:00,NaN
1,UPOPVPV,Subir,ACE4,31445583,1,Complejo,SOT,2024-02-21 00:00:00+01:00,116.6
...,...,...,...,...,...,...,...,...,...
4030,ECOBCBSO,Bajar,GDNA,25451783,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN
4031,ECOBCBSO,Bajar,TERE,25451786,1,No aplica,NaN,2024-02-21 23:00:00+01:00,NaN

In [5]:
values = ['RTD', 'SOT'] # curtailment

df = df.query('')

['RTD', 'SOT']

### Unit specific involved in contracts

In [5]:
unit = "ENDE01"
contracts = df_base.query('unit == @unit').contract.unique()
contracts

array([1019, 1513, 1994, 2293, 2193, 2330])

In [6]:
mask = df_base.contract.isin(contracts)
df = df_base[mask]
df

       unit  offer_type  contract   hour  value            datetime   agent
12     ALZ1           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
16     ALZ2           1      1994  00-01    NaN 2024-02-21 00:00:00  Seller
...     ...         ...       ...    ...    ...                 ...     ...
12214  TERE           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller
12241  VAN2           1      1513  23-24    NaN 2024-02-21 23:00:00  Seller

[696 rows x 7 columns]

In [7]:
df.groupby(['unit', 'agent']).value.sum().unstack('agent').sort_values('Buyer', ascending=False).fillna(0).style.format(precision=0)

## References

https://www.energychisquared.com/post/tipos-de-bilaterales-en-el-sistema-el%C3%A9ctrico/