# Analyze

## Load files

- I90DIA27: Bilateral

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from esios.archives import preprocessing
from pathlib import Path

- 6A: Date of data
- 6C: Date of publication
- 10(rest of rows)AB: Table of contents

In [3]:
import pandas as pd

pd.set_option('future.no_silent_downcasting', True)

In [45]:
from esios.archives.preprocessing import I90Book

path = '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA_20231029.xls'
path = '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20230326/I90DIA_20230326.xls'

i90 = I90Book(path)

In [46]:
sheet = i90['I90DIA09']
df = sheet.df

In [16]:
columns_data = sheet.df.columns

In [19]:
columns_data

DatetimeIndex(['2023-10-29 00:00:00', '2023-10-29 01:00:00',
               '2023-10-29 02:00:00', '2023-10-29 02:00:00',
               '2023-10-29 03:00:00', '2023-10-29 04:00:00',
               '2023-10-29 05:00:00', '2023-10-29 06:00:00',
               '2023-10-29 07:00:00', '2023-10-29 08:00:00',
               '2023-10-29 09:00:00', '2023-10-29 10:00:00',
               '2023-10-29 11:00:00', '2023-10-29 12:00:00',
               '2023-10-29 13:00:00', '2023-10-29 14:00:00',
               '2023-10-29 15:00:00', '2023-10-29 16:00:00',
               '2023-10-29 17:00:00', '2023-10-29 18:00:00',
               '2023-10-29 19:00:00', '2023-10-29 20:00:00',
               '2023-10-29 21:00:00', '2023-10-29 22:00:00',
               '2023-10-29 23:00:00'],
              dtype='datetime64[ns]', name='datetime', freq=None)

In [20]:
columns_data.tz_localize('Europe/Madrid', ambiguous='NaT')

DatetimeIndex(['2023-10-29 00:00:00+02:00', '2023-10-29 01:00:00+02:00',
                                     'NaT',                       'NaT',
               '2023-10-29 03:00:00+01:00', '2023-10-29 04:00:00+01:00',
               '2023-10-29 05:00:00+01:00', '2023-10-29 06:00:00+01:00',
               '2023-10-29 07:00:00+01:00', '2023-10-29 08:00:00+01:00',
               '2023-10-29 09:00:00+01:00', '2023-10-29 10:00:00+01:00',
               '2023-10-29 11:00:00+01:00', '2023-10-29 12:00:00+01:00',
               '2023-10-29 13:00:00+01:00', '2023-10-29 14:00:00+01:00',
               '2023-10-29 15:00:00+01:00', '2023-10-29 16:00:00+01:00',
               '2023-10-29 17:00:00+01:00', '2023-10-29 18:00:00+01:00',
               '2023-10-29 19:00:00+01:00', '2023-10-29 20:00:00+01:00',
               '2023-10-29 21:00:00+01:00', '2023-10-29 22:00:00+01:00',
               '2023-10-29 23:00:00+01:00'],
              dtype='datetime64[ns, Europe/Madrid]', name='datetime', freq=None)

DatetimeIndex(['2023-10-29 00:00:00+02:00', '2023-10-29 01:00:00+02:00',
               '2023-10-29 02:00:00+02:00', '2023-10-29 02:00:00+01:00',
               '2023-10-29 03:00:00+01:00', '2023-10-29 04:00:00+01:00',
               '2023-10-29 05:00:00+01:00', '2023-10-29 06:00:00+01:00',
               '2023-10-29 07:00:00+01:00', '2023-10-29 08:00:00+01:00',
               '2023-10-29 09:00:00+01:00', '2023-10-29 10:00:00+01:00',
               '2023-10-29 11:00:00+01:00', '2023-10-29 12:00:00+01:00',
               '2023-10-29 13:00:00+01:00', '2023-10-29 14:00:00+01:00',
               '2023-10-29 15:00:00+01:00', '2023-10-29 16:00:00+01:00',
               '2023-10-29 17:00:00+01:00', '2023-10-29 18:00:00+01:00',
               '2023-10-29 19:00:00+01:00', '2023-10-29 20:00:00+01:00',
               '2023-10-29 21:00:00+01:00', '2023-10-29 22:00:00+01:00',
               '2023-10-29 23:00:00+01:00'],
              dtype='datetime64[ns, Europe/Madrid]', name='datetime', freq=None)

In [15]:
sheet.df.stack(level='datetime', future_stack=True)

ValueError: Columns with duplicate values are not supported in stack

In [49]:
pattern = '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA*.parquet'

In [50]:
from glob import glob

files = glob(pattern)
files

['/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA02.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA06.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA33.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA32.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA15.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA11.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA35.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA14.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA29.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA30.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA10.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA18.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA05.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA07.parquet',
 '/root/projects/volume/curtailment-i90-app-db-energy/data/bucket/esios/archives/I90DIA/I90DIA_20231029/I90DIA08.parquet']

In [51]:
file = files[0]

In [53]:
df = pd.read_parquet(file)

In [54]:
df

                                                        value
Unidad de Programación Tipo Oferta datetime
ABA1                   1.0         2023-10-29 00:00:00  0.025
                                   2023-10-29 00:15:00  0.025
                                   2023-10-29 00:30:00  0.025
                                   2023-10-29 00:45:00  0.025
                                   2023-10-29 01:00:00  0.025
...                                                       ...
ZULUC01                8.0         2023-10-29 23:45:00    NaN
                                   2023-10-30 00:00:00    NaN
                                   2023-10-30 00:15:00    NaN
                                   2023-10-30 00:30:00    NaN
                                   2023-10-30 00:45:00    NaN

[177100 rows x 1 columns]