# A2 Liquicomun

## Instantiate the client

In [1]:
from esios.endpoints import Archives
client = Archives()

## Search and download ID

https://www.esios.ree.es/es/descargas

- 3: A2_liquicomun

In [75]:
data = endpoint.get(3, date_type='publicacion', start_date='2024-05-01', end_date='2024-05-31')
data.download_and_extract('data')

## Data preprorcessing

In [76]:
from esios.endpoints.archives import preprocessing

In [77]:
df = preprocessing.liquicomun('data/A2_liquicomun', name='compodem')
df.columns = ['date', 'hour', 'segment', 'demand_type', 'cost_eur', 'demand_mwh', 'price_emwh']
df

           date  hour segment demand_type  cost_eur  demand_mwh  price_emwh
0    03/05/2024     1    BALX         CUR    -12.03    1729.575   -0.006955
1    03/05/2024     1    BALX       NOCUR   -151.37   21768.705   -0.006954
..          ...   ...     ...         ...       ...         ...         ...
757  14/05/2024    24     RT6       NOCUR  14431.81   23105.953    0.624593
758  14/05/2024    24     RT6       TOTAL  15713.30   25157.667    0.624593

[13104 rows x 7 columns]

In [78]:
import pandas as pd

In [79]:
df.date = pd.to_datetime(df.date, dayfirst=True)
df['datetime'] = df.date + pd.to_timedelta(df.hour - 1, unit='h')
df = df.drop(columns=['date', 'hour']).set_index('datetime')
df = df.sort_index()
df

                    segment demand_type  cost_eur  demand_mwh  price_emwh
datetime
2024-05-01 00:00:00    RAD3         CUR   1878.33    1866.259    1.006468
2024-05-01 00:00:00     RT6       TOTAL  23545.26   23167.585    1.016302
...                     ...         ...       ...         ...         ...
2024-05-19 23:00:00      MI         CUR    113.43    1832.860    0.061887
2024-05-19 23:00:00    BALX       TOTAL  -1975.94   21006.637   -0.094063

[13104 rows x 5 columns]

### Export to Excel

In [80]:
df.to_excel('data/A2_liquicomun/A2_COMPODEM.xlsx')