# Indicators endpoint

## Instantiate the client

In [2]:
from esios import ESIOSClient
client = ESIOSClient()
endpoint = client.endpoint(name='indicators')

## List indicators ids

In [3]:
df_indicators = endpoint.list()
df_indicators

https://api.esios.ree.es/indicators

,name,description,short_name,id
0,Generación programada PBF Hidráulica UGH,"Es el programa de energía diario, con desglose...",Hidráulica UGH,1
1,Generación programada PBF Hidráulica no UGH,"Es el programa de energía diario, con desglose...",Hidráulica no UGH,2
...,...,...,...,...
1937,RD-L 10/2022 restricciones técnicas y mercados...,RD-L 10/2022 restricciones técnicas y mercados...,Mercado diario e intradiario,10411
1938,Precio medio ponderado de activación del servi...,Es un servicio específico de balance del sist...,Precio medio ponderado de activación del servi...,10412

## Select indicator id

In [3]:
indicator = endpoint.select(id=600)

## Get historical data from indicator

In [4]:
df_price = indicator.historical(start='2023-01-01', end='2023-01-31')
df_price

                              600  geo_id      geo_name
datetime
2023-01-01 00:00:00+01:00    0.00       1      Portugal
2023-01-01 00:00:00+01:00    0.00       2       Francia
...                           ...     ...           ...
2023-01-31 23:00:00+01:00  123.56    8827       Bélgica
2023-01-31 23:00:00+01:00   87.52    8828  Países Bajos

[5952 rows x 3 columns]

## Export to Excel file

In [6]:
df_price.tz_localize(None).to_excel('600.xlsx')